<!DOCTYPE html>
<html>
<head>
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5274370025994358"
     crossorigin="anonymous"></script>
	<link rel="icon" type="image/png" href="https://i.ibb.co/bWCp820/download-1.jpg">
	<meta charset="utf-8">
	<meta property="og:type" content="Web" />
	<meta property="og:image" content="https://i.ibb.co/bWCp820/download-1.jpg" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>API - VIKO</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
    <link href="https://studiovdk.herokuapp.com/mi/css/style.css" rel="stylesheet">
	<link href="https://studiovdk.herokuapp.com/css/font-awesome.min.css" rel="stylesheet">
	<!-- Font Awesome Icon -->
	<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<script src="./date/.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>

	<div id="notfound">
		<div class="notfound-bg">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="notfound">
			<center><div class="notfound-404">
				<h1>API's</h1>
			</div></center>
			<h2>POWERED BY VIKO</h2><h1 style="font-size: 20px;" id="jam"></h1>
			<script src="./date/sapa.js"></script>
			<a href="/docs">API MENU</a><br>
			<h1></h1>
			<a href="https://studiovdk.herokuapp.com/index.html">HOME PAGE</a><br><p></p>
			
		</div>
	</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5274370025994358"
     crossorigin="anonymous"></script>
<!-- VikoAPI -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5274370025994358"
     data-ad-slot="1407232937"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
<center><p>POWERED BY VIKO DEV<p></center>
</html>
